doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title E-shop
    //- Bootstrap CSS
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/bootstrap.min.css.map" rel="stylesheet")
    //- Main CSS
    link(href="css/main.css" rel="stylesheet")
    //- Font Awesome CSS
    link(href="css/all.min.css" rel="stylesheet")
  body
    //- Start Header
    header
      .nav-bar
    //- End Header

    //- Start Footer
    footer
      div
    //- End Footer

    //- Popper Js
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous")
    //- Jquery JS
    script(src="js/jquery-3.6.0.min.js")
    //- Bootstrap JS
    script(src="js/bootstrap.min.js")
    script(src="js/bootstrap.min.js.map")
    //- Font Awesome JS
    script(src="js/all.min.js")
    //- Main JS
    script(src="js/main.js")


